extends page

block head 
    title Wiadomości

block navbar
    li.nav-item
        a.nav-link(href="/") Strona główna
    li.nav-item
        a.nav-link(href="/menu") Menu
    li.nav-item 
        a.nav-link(href="/cart") Koszyk
    li.nav-item 
        a.nav-link.active(href="/archive") Archiwum aktualności

block content
    .text-center
        h3.title.bg-dark.bg-gradient.text-body-emphasis Nasze aktualności
        .content
            each item in data
                .card.text-center.m-5
                    if item.image  
                        img(src=item.image, alt="").card-img-top
                    .card-body
                        h5.card-title #{item.title}
                        p.card-text #{item.content}
                        a.btn(href=`/news/${item.id}`).btn-outline-primary Czytaj więcej...
                    .card-footer.text-body-secondary
                      | #{new Date(item.date).toLocaleDateString()}