extends page

block head 
    title Twoje zamówienie
    meta(http-equiv="refresh", content="30")

block navbar
    li.nav-item
        a.nav-link(href="/") Strona główna
    li.nav-item
        a.nav-link(href="/menu") Menu
    li.nav-item 
        a.nav-link(href="/cart") Koszyk
    li.nav-item 
        a.nav-link(href="/archive") Archiwum aktualności

block content
    .text-center.m-3
        h3 Twoje zamówienie o numerze #{data.id}
        p.small Zamówiłeś o #{new Date(data.creation_date).toLocaleString()}
    .container
        p Dziękujemy za złożenie zamówienia!
        p Zamówiłeś:
        table.table.w-50.border
            thead
                tr
                    th Nazwa
                    th Cena
            each item in data.items
                    tr
                        td #{item.name}
                        td #{item.price} zł
        p Na adres: #{data.address}
        p.large Status twojego zamówienia: 
            strong #{data.status}
        p.small.text-secondary Strona będzie się aktualizować co 30 sekund